<!DOCTYPE html>
<html>
<head>
    <title>Página não encontrada</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div class="container error-page">
        <h1>404</h1>
        <h2>Oops! Página não encontrada.</h2>
        <p>A página que você está procurando pode ter sido removida, ter seu nome alterado ou está temporariamente indisponível.</p>
        <a href="{{ url_for('index') }}" class="button-link back-button">Voltar para a Página Inicial</a>
    </div>
</body>
</html>