<!DOCTYPE html>
<html>
<head>
    <title>Minhas Receitas Favoritas</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div class="container">
        <h1>Minhas Receitas Favoritas</h1>
        
        {% if receitas %}
            <ul>
                {% for r in receitas %}
                    <li>
                        <a href="{{ url_for('receita_detail', id=r.id) }}">{{ r.titulo }}</a>
                        <a href="{{ url_for('receita_detail', id=r.id) }}" class="button-link btn-accent">Abrir</a>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>Você ainda não tem receitas favoritas.</p>
        {% endif %}

        <a href="{{ url_for('index') }}" class="button-link back-button">Voltar para a Lista</a>
    </div>
</body>
</html>