<!DOCTYPE html>
<html>
<head>
    <title>Nova Receita</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <h1>Adicionar Receita</h1>
    <form method="POST">
        <label for="titulo">Título:</label>
        <input type="text" id="titulo" name="titulo" required>

        <label for="descricao">Descrição:</label>
        <textarea id="descricao" name="descricao"></textarea>

        <label for="modo_preparo">Modo de Preparo:</label>
        <textarea id="modo_preparo" name="modo_preparo"></textarea>

        <button type="submit">Salvar</button>
    </form>
</body>
</html>

